:root {
  --flex-gutter-x: 1em;
  --flex-gutter-y: 1em;
  --flex-container-width: 1024px;
/*   --flex-breakpoint-small: 0px; */
/*   --flex-breakpoint-medium: 640px; */
/*   --flex-breakpoint-large: 1024px; */
}

.container {
  box-sizing: border-box;
  max-width: var(--flex-container-width);
  margin: auto;
}

.flex {
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
/*   margin: 0 calc(var(--flex-gutter) / -2); */
  padding: 0 calc(var(--flex-gutter-x) / 2);
/*   margin-bottom: 1px; */
}

[data-flex*="reverse"] {
  flex-direction: row-reverse;
}

.box, .box-1, .box-2, .box-3, .box-4, .box-5, .box-6, .box-7, .box-8, .box-9, .box-10, .box-11, .box-12 {
  box-sizing: border-box;
  flex: 1 1 0%;
  margin: calc(var(--flex-gutter-y) / 2) 0;
  padding: 0 calc(var(--flex-gutter-x) / 2);
}

.box img {
  height: auto;
  max-width: 100%;
}

.box-1 {
  flex-basis: 8.3333333333%;
  max-width: 8.3333333333%;
}

.box-2 {
  flex-basis: 16.6666666667%;
  max-width: 16.6666666667%;
}

.box-3 {
  flex-basis: 25%;
  max-width: 25%;
}

.box-4 {
  flex-basis: 33.3333333333%;
  max-width: 33.3333333333%;
}

.box-5 {
  flex-basis: 41.6666666667%;
  max-width: 41.6666666667%;
}

.box-6 {
  flex-basis: 50%;
  max-width: 50%;
}

.box-7 {
  flex-basis: 58.3333333333%;
  max-width: 58.3333333333%;
}

.box-8 {
  flex-basis: 66.6666666667%;
  max-width: 66.6666666667%;
}

.box-9 {
  flex-basis: 75%;
  max-width: 75%;
}

.box-10 {
  flex-basis: 83.3333333333%;
  max-width: 83.3333333333%;
}

.box-11 {
  flex-basis: 91.6666666667%;
  max-width: 91.6666666667%;
}

.box-12 {
  flex-basis: 100%;
  max-width: 100%;
}


/* Large Screens >1024px */
@media (min-width: 80em) {
  .lg-box-1 {
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
  }

  .lg-box-2 {
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
  }

  .lg-box-3 {
    flex-basis: 25%;
    max-width: 25%;
  }

  .lg-box-4 {
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .lg-box-5 {
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
  }

  .lg-box-6 {
    flex-basis: 50%;
    max-width: 50%;
  }

  .lg-box-7 {
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
  }

  .lg-box-8 {
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
  }

  .lg-box-9 {
    flex-basis: 75%;
    max-width: 75%;
  }

  .lg-box-10 {
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
  }

  .lg-box-11 {
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
  }

  .lg-box-12 {
    flex-basis: 100%;
    max-width: 100%;
  }
}


/* Medium Screens 641-1024px */
@media (max-width: 64em) {
  .md-box-1 {
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
  }

  .md-box-2 {
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
  }

  .md-box-3 {
    flex-basis: 25%;
    max-width: 25%;
  }

  .md-box-4 {
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .md-box-5 {
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
  }

  .md-box-6 {
    flex-basis: 50%;
    max-width: 50%;
  }

  .md-box-7 {
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
  }

  .md-box-8 {
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
  }

  .md-box-9 {
    flex-basis: 75%;
    max-width: 75%;
  }

  .md-box-10 {
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
  }

  .md-box-11 {
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
  }

  .md-box-12 {
    flex-basis: 100%;
    max-width: 100%;
  }
}


/* Small Screens 0-640px */
@media (max-width: 48em) {
  .sm-box-1 {
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
  }

  .sm-box-2 {
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
  }

  .sm-box-3 {
    flex-basis: 25%;
    max-width: 25%;
  }

  .sm-box-4 {
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .sm-box-5 {
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
  }

  .sm-box-6 {
    flex-basis: 50%;
    max-width: 50%;
  }

  .sm-box-7 {
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
  }

  .sm-box-8 {
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
  }

  .sm-box-9 {
    flex-basis: 75%;
    max-width: 75%;
  }

  .sm-box-10 {
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
  }

  .sm-box-11 {
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
  }

  .sm-box-12 {
    flex-basis: 100%;
    max-width: 100%;
  }
}


/* Extra Small Screens 0-640px */
@media (max-width: 36em) {
  .xs-box-1 {
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
  }

  .xs-box-2 {
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
  }

  .xs-box-3 {
    flex-basis: 25%;
    max-width: 25%;
  }

  .xs-box-4 {
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .xs-box-5 {
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
  }

  .xs-box-6 {
    flex-basis: 50%;
    max-width: 50%;
  }

  .xs-box-7 {
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
  }

  .xs-box-8 {
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
  }

  .xs-box-9 {
    flex-basis: 75%;
    max-width: 75%;
  }

  .xs-box-10 {
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
  }

  .xs-box-11 {
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
  }

  .xs-box-12 {
    flex-basis: 100%;
    max-width: 100%;
  }
}
