@import url('https://rsms.me/inter/inter.css');

html {
  box-sizing: border-box;
}

body {
  border-top: 12px solid rgba(250,184,31,1);
  color: rgba(29,34,36,1);
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
@supports (font-variation-settings: normal) {
  body { font-family: 'Inter var', sans-serif; }
}
@media screen and (max-width: 36em) {
  body {
    font-size: 14px;
  }
}

a:link {
  /* color: rgba(29,34,36,1); */
  color: black;
  font-weight: bolder;
}
a:visited {
  color: black;
}

.container {
  margin: 0 auto;
  padding: 0 1em;
  max-width: 1028px;
}

nav {
  position: fixed;
  bottom: 2em;
  left: 2em;
  /* z-index: 10000; */
}

nav .home {
  background-image: url('/assets/images/nav-home.svg');
  background-size: contain;
  display: block;
  height: 48px;
  width: 48px;
}

nav .home span {
  display: none;
}

@media screen and (max-width: 36em) {
  nav {
    bottom: 1em;
    left: 1em;
  }
}

header {
  margin: 6rem auto;
}

.hide {
  display: none;
}

  .summary a {
    /* font-weight: 400; */
  }

  .summary .bigger {
    font-size: 1.25em;
  }

  .avatar {
    border-radius: 100%;
    margin: 0 auto;
    display: block;
    width: 100%;
    max-width: 228px;
  }

@media screen and (max-width: 36em) {
  header {
    margin: 0 auto;
    padding: 3rem 0;
  }
  .avatar {
    max-width: 120px;
  }
  .summary {
    font-size: 16px;
    padding-top: 2rem;
  }
}

section {
  margin-bottom: 3rem;
}

footer {
  /* background: rgba(0, 0, 0, 1); */
  background: rgba(29,34,36,1);
  color: rgba(227, 238, 242, 1);
  margin: 3em 0 0 0;
  padding: 3em 0;
}

  footer a:link,
  footer a:visited {
    color: white;
  }

@media print {
  footer {
    background: inherit;
    color: inherit;
  }
  footer a:link,
  footer a:visited {
    color: inherit;
  }
}

.title {
  font-size: 1.75em;
  font-weight: 800;
  margin: 0 0 .25em 0;
}

.subtitle,
.microheader {
  color: rgba(58,118,156,1);
  font-size: 12px;
  font-weight: 500;
  letter-spacing: .75px;
  text-transform: uppercase;
  margin: 0 0 .5em 0;
}
.subtitle {
  margin-bottom: 3rem;
}

.tinylist {
  font-size: 12px;
  list-style: none;
  margin: 0 0 3rem 0;
  padding: 0;
}
@media screen and (max-width: 36em) {
  .tinylist {
    font-size: 14px;
  }
}

  .tinylist li {
    margin-bottom: .5em;
  }

.centered {
  text-align: center;
}

.experience {
  font-size: 14px;
  list-style: none;
  margin: 2rem 0 3rem 0;
  padding: 0;
}

  .experience li {
    background-image: linear-gradient(90deg, rgba(0, 135, 143, .1) 2px, rgba(255, 255, 255, 0) 0);
    background-position: calc(1.5em - 1px);
    padding: 0 0 3rem 4em;
    position: relative;
  }
  .experience li:last-child {
    background: none;
    padding-bottom: 0;
  }

  .experience img {
    background: white;
    padding: .5em 0;
    position: absolute;
    top: -.5em;
    left: 0;
    height: 3em;
    width: 3em;
  }

  .experience .duration,
  .experience .location {
    color: rgba(58,118,156,1);
  }

  .description {
    margin-top: 1em;
  }



figure {
  margin: 0 0 1.5em 0;
  padding: 0;
}

  figure img {
    display: block;
    width: 100%;
  }

figcaption {
  font-size: 12px;
  margin-top: 1em;
  text-align: center;
}



/* .row {
  display: flex;
  flex-flow: row nowrap;
  max-width: 960px;
  margin: 0 auto;
}
.row._reverse {
  flex-flow: row-reverse nowrap;
}

.column {
  flex-basis: 100%;
  margin: 0 1rem;
}
.column._33 {
  flex-basis: 33%;
}
.column._66 {
  flex-basis: 66%;
} */
