@import url('https://rsms.me/inter/inter.css');
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+TC:400,500,600,700');

body {
  border-top: 12px solid rgba(250,184,31,1);
  color: rgba(29,34,36,1);
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  flex-flow: row wrap;
  /* font-size: 18px; */
  /* font-weight: 300; */
  max-width: 105ex;
  margin: 3em auto;
}

footer {
  background: rgba(240, 240, 240, 1);
  padding: 1px;
}

section {
  margin-bottom: 120px;
}

a:link {
  color: rgba(29,34,36,1);
  /* font-weight: 400; */
}

header .avatar {
  border-radius: 100%;
  /* flex: calc(100% / 3); */
  height: 228px;
  margin: 0 auto;
  display: block;
  /* padding: 100px; */
  width: 228px;
}

.bio {
  padding-top: 3.5em;
}


  .bio p:first-child {
    font-size: 24px;
  }

.microheader {
  color: rgba(58,118,156,1);
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 0 0 .5em 0;
}

.tinylist {
  font-size: 12px;
  list-style: none;
  margin: 0 0 60px 0;
  padding: 0;
}

  .tinylist li {
    /* padding: 0; */
    margin-bottom: .5em;
  }

.centered {
  text-align: center;
}

.experience {
  font-size: 16px;
  list-style: none;
  margin: 1em 0 60px 0;
  padding: 0;
}

  .experience li {
    background-image: linear-gradient(90deg, rgba(0, 135, 143, .1) 2px, rgba(255, 255, 255, 0) 0);
    background-position: calc(1.5em - 1px);
    /* background-size: 3px 3px; */
    padding: 0 0 60px 72px;
    position: relative;
  }
  .experience li:last-child {
    background: none;
  }

  .experience .duration,
  .experience .location {
    font-size: 12px;
    line-height: 1.5em;
    color: rgba(58,118,156,1);
  }

  .experience img {
    background: white;
    padding: .5em 0;
    position: absolute;
    top: -.5em;
    left: 0;
    height: 3em;
    width: 3em;
  }



figure {
  margin: 0;
  padding: 0;
}

  figure img {
    display: block;
    width: 100%;
  }

figcaption {
  font-size: 12px;
  text-align: center;
}

.grid {
  display: flex;
  flex-flow: row wrap;
}
.grid.reverse {
  flex-flow: row-reverse wrap;
}

  .cell {
    display: block;
  }

  .x2 .cell {
    flex: calc(100% / 2);
  }
  .x3 .cell {
    flex: calc(100% / 3);
  }
  .x3 .cell.w2 {
    flex: calc(100% / 3 * 2);
  }
  .x4 .cell {
    flex: calc(100% / 4);
  }
  @media all and (max-width: calc(600px)) {
    .x4 .cell { flex: calc(100% / 2); }
  }


  .g1-3 {
    flex: calc(100% / 3);
    max-width: 35ex;
    /* padding: 0 10px; */
  }

  .g2-3 {
    flex: calc(100% / 3 * 2);
    max-width: 70ex;
    /* margin: 0 10px; */
  }






  .grid figcaption {
    flex: 100%;
  }
