@import url('https://fonts.googleapis.com/css?family=Noto+Serif+KR:200,500');

article {
  margin: 0 auto;
}

.title {
  text-align: center;
}

.typeset {
  font-family: 'Noto Serif KR', serif;
  font-size: 20px;
  font-weight: 200;
}

.typeset h1 {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
}
.typeset h2,
h2 {
  font-family: 'Inter', sans-serif;
  text-align: center;
}
.typeset h3 {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
}
.typeset h4 {
  font-family: 'Inter', sans-serif;
}
.typeset table {
  font-family: 'Inter', sans-serif;
  font-size: 12px;
}
.typeset table th {
  font-weight: 600;
}
.typeset table ul {
  margin: 0 0 0 1.5em;
}

.typeset figure {
  font-family: 'Inter', sans-serif;
  font-weight: 300;
}
.typeset figcaption {
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  text-align: center;
}

.highlight {
  background-color: rgba(0, 140, 255, 0.1) !important;
}
.placeholder {
  background-color: rgba(255, 153, 0, 0.1) !important;
}
li:target { /* Highlight selected footnote */
  background-color: rgba(255, 245, 0, 0.2);
}

a.endnoteBackLink {
  text-decoration: none;
  font-size: .75em;
}

.typeset mark {
  background-color: lavender;
}

.horizontal-scroll {
  overflow-x: scroll;
  /* Following scroll shadows from https://jsbin.com/kodabupozu/edit?html,css,output */
  /* background-image: -webkit-linear-gradient(left, #ffffff, rgba(255, 255, 255, 0)), -webkit-linear-gradient(right, #ffffff, rgba(255, 255, 255, 0)), -webkit-linear-gradient(left, #c3c3c5, rgba(195, 195, 197, 0)), -webkit-linear-gradient(right, #c3c3c5, rgba(195, 195, 197, 0));
  background-position: 0 0, 100% 0, 0 0, 100% 0;
  background-repeat: no-repeat;
  background-color: white;
  background-size: 4em 100%, 4em 100%, 1em 100%, 1em 100%;
  background-attachment: local, local, scroll, scroll; */
}

.horizontal-scroll::-webkit-scrollbar {
  -webkit-appearance: none;
  height: 10px;
}
.horizontal-scroll::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgba(0,0,0,.25);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

figure table td {
  width: 250px;
}

.grid {
  display: flex;
  flex-flow: row wrap;
}

  .x2 .cell {
    flex: calc(100% / 2);
  }
  .x4 .cell {
    flex: calc(100% / 4);
  }
  @media all and (max-width: calc(600px)) {
    .x4 .cell { flex: calc(100% / 2); }
  }

  .grid figcaption {
    flex: 100%;
  }
